<!DOCTYPE html>
<html>

<head>
  <title>基础博客实战</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/users/loginOut" method="post">
    <button type="submit">退出登录</button>
  </form>
  <a href="/article/list">博客列表页</a>
  <a href="/article/listAdd">新增博客</a>
</body>

</html>