<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
</head>

<body>
  <form action="/users/login" method="post">
    <input type="text" name="userName" placeholder="请输入用户名"><br>
    <input type="password" name="userPwd" placeholder="请输入6位密码"><br>
    <button type="submit">登录</button>
  </form>
  <div>
    <a href="/users/regist">还没账号，马上注册！</a>
  </div>
</body>

</html>